html{
  background-color: rgba(150, 0, 255, 0.15);
}

h1{
  font-family: 'Hanna', sans-serif;
}

header{
  position: relative;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

body{
  text-align: center;
}

.icon{
  display: inline-block;
  width: 200px;
  text-align: center;
  margin: 60px;
}

.movies{
  text-align: center;
}

.move{
  position: relative;
  display: inline-block;
  margin: 30px;
}

.middle{
  opacity: 0;
  position: absolute;
  top: 20%;
  bottom: 50%;
  width: inherit;
}

.move:hover img{
  opacity: 0.2;
}

.move:hover .middle{
  opacity: 1.0;
}

.icon:hover{
  transform: scale(1.2);
}
